<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/jdbc
       http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<context:component-scan base-package="com.tugrulaslan" />
	<context:annotation-config />
	<context:spring-configured />

	<!-- Loading Hibernate properties -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="/WEB-INF/hibernate.properties" />

	<bean id="employeeDAO" class="com.tugrulaslan.dao.EmployeeDAOImpl" />
	<bean id="employeeService" class="com.tugrulaslan.service.EmployeeServiceImpl" />

	<!-- Hibernate connection configuration -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${orm.connection.driver_class}" />
		<property name="url" value="${orm.connection.url}" />
		<property name="username" value="${orm.connection.username}" />
		<property name="password" value="${orm.connection.password}" />
	</bean>

	<!-- Hibernate configuration settings -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.tugrulaslan.domain" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${orm.dialect}</prop>
				<prop key="hibernate.pool_size">"${orm.pool_size}</prop>
				<prop key="hibernate.show_sql">${orm.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${orm.hbm2ddl.auto}</prop>
			</props>
		</property>
	</bean>


	<!-- Hibernate Session Factory creation -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>
